@import './variables.scss';

html,
body {
	// background-color: $background;
	box-sizing: border-box;
	color: $foreground;
	font-family: 'SF Mono', monospace;
	font-size: $font-size;
	font-weight: 200;
	line-height: 1.3em;
	font-weight: $thin;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre,
a {
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $accent;
	font-family: 'Crimson Text', serif;
	font-weight: $bold;
	line-height: 1em;
	margin: 2 * $GU 0 $GU 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 2 * $GU;
}

p,
li {
	margin: $GU 0;

	&:last-of-type {
		margin-bottom: 0;
	}
}

a {
	color: $accent;
	text-decoration: none;
	padding: $GU / 2;

	&:hover {
		font-weight: bold;
		background-color: $accent;
		color: $asphalt;
	}
}
