// colors inspired from Challenger Deep theme
// see https://github.com/challenger-deep-theme/vim

$asphalt: #1e1c31;
$asphalt-light: #3e3c51;
$cyan: #aaffe4;
$green: #95ffa4;
$purple: #c991e1;
$red: #ff8080;
$white: #f3f3f3;
$background: $asphalt;
$bold: 600;

$accent: $green;
$terminal: $green;
$color: $white;
$font-size: 13px;
$spacing: 1rem;
$thin: 100;
$header-height: 50px;
$GU: 8px;
